<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- Here We are Putten this play cdn beacuse we want to integrate the tailwind -->
    <title>Document</title>
</head>

<body>
    <div id="__next">
        <div class="grid grid-cols-4 sm:grid-cols-6 ">
            <div class="col-start-1 sm:col-start-2 col-end-5 mt-44 sm:col-end-6 border border-green-700">
                <div class="col-span-full bg-green-700 text-center text-white">SHETH SWAROOPCHAND PANACHAND</div>
                <div class="col-span-full text-center text-green-700">FANCY DRESS AND RABARI KAPADWALA</div>
                <div class="col-span-full break-all text-center text-green-700 text-sm">Lorem, ipsum dolor sit amet
                    consectetur adipisicing elit. Reiciendis hic aperiam aut voluptatum odit adipisci corporis eius quo
                    atque temporibus?</div>
                <div class="grid grid-rows-3 grid-flow-col gap-0 border border-green-700">
                    <div class="row-start-1 row-span-3 ">
                        <div class="flex flex-col">
                            <div class="border border-green-700 text-green-700 text-center">BK D</div>
                            <div class="h-6 border border-green-700"></div>
                            <div class="h-6 border border-green-700"></div>
                        </div>
                    </div>
                    <div class="row-start-1 row-span-3">
                        <div class="flex flex-col">
                            <div class="border border-green-700 text-green-700 text-center">DL D</div>
                            <div class="h-6 border border-green-700"></div>
                            <div class="h-6 border border-green-700"></div>
                        </div>
                    </div>
                    <div class="row-start-1 row-end-4 ">
                        <div class="flex flex-col ">
                            <div class="border border-green-700 text-green-700 text-center">RE D</div>
                            <div class="h-6 border border-green-700"></div>
                            <div class="h-6 border border-green-700"></div>
                        </div>
                    </div>
                    <div class="row-start-1 row-end-4 ">
                        <div class="flex flex-col ">
                            <div class=" text-green-700 text-center ">VINUBHAI SHETH</div>
                            <div class="text-green-700 text-center flex gap-2 "><svg stroke="currentColor"
                                    fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="24" width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M414.73 97.1A222.14 222.14 0 00256.94 32C134 32 33.92 131.58 33.87 254a220.61 220.61 0 0029.78 111L32 480l118.25-30.87a223.63 223.63 0 00106.6 27h.09c122.93 0 223-99.59 223.06-222A220.18 220.18 0 00414.73 97.1zM256.94 438.66h-.08a185.75 185.75 0 01-94.36-25.72l-6.77-4-70.17 18.32 18.73-68.09-4.41-7A183.46 183.46 0 0171.53 254c0-101.73 83.21-184.5 185.48-184.5a185 185 0 01185.33 184.64c-.04 101.74-83.21 184.52-185.4 184.52zm101.69-138.19c-5.57-2.78-33-16.2-38.08-18.05s-8.83-2.78-12.54 2.78-14.4 18-17.65 21.75-6.5 4.16-12.07 1.38-23.54-8.63-44.83-27.53c-16.57-14.71-27.75-32.87-31-38.42s-.35-8.56 2.44-11.32c2.51-2.49 5.57-6.48 8.36-9.72s3.72-5.56 5.57-9.26.93-6.94-.46-9.71-12.54-30.08-17.18-41.19c-4.53-10.82-9.12-9.35-12.54-9.52-3.25-.16-7-.2-10.69-.2a20.53 20.53 0 00-14.86 6.94c-5.11 5.56-19.51 19-19.51 46.28s20 53.68 22.76 57.38 39.3 59.73 95.21 83.76a323.11 323.11 0 0031.78 11.68c13.35 4.22 25.5 3.63 35.1 2.2 10.71-1.59 33-13.42 37.63-26.38s4.64-24.06 3.25-26.37-5.11-3.71-10.69-6.48z">
                                    </path>
                                </svg>
                                <p>94276 74151 (v)</p>
                            </div>
                            <div class="text-green-700 text-center flex gap-2 "><svg stroke="currentColor"
                                    fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="24" width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M414.73 97.1A222.14 222.14 0 00256.94 32C134 32 33.92 131.58 33.87 254a220.61 220.61 0 0029.78 111L32 480l118.25-30.87a223.63 223.63 0 00106.6 27h.09c122.93 0 223-99.59 223.06-222A220.18 220.18 0 00414.73 97.1zM256.94 438.66h-.08a185.75 185.75 0 01-94.36-25.72l-6.77-4-70.17 18.32 18.73-68.09-4.41-7A183.46 183.46 0 0171.53 254c0-101.73 83.21-184.5 185.48-184.5a185 185 0 01185.33 184.64c-.04 101.74-83.21 184.52-185.4 184.52zm101.69-138.19c-5.57-2.78-33-16.2-38.08-18.05s-8.83-2.78-12.54 2.78-14.4 18-17.65 21.75-6.5 4.16-12.07 1.38-23.54-8.63-44.83-27.53c-16.57-14.71-27.75-32.87-31-38.42s-.35-8.56 2.44-11.32c2.51-2.49 5.57-6.48 8.36-9.72s3.72-5.56 5.57-9.26.93-6.94-.46-9.71-12.54-30.08-17.18-41.19c-4.53-10.82-9.12-9.35-12.54-9.52-3.25-.16-7-.2-10.69-.2a20.53 20.53 0 00-14.86 6.94c-5.11 5.56-19.51 19-19.51 46.28s20 53.68 22.76 57.38 39.3 59.73 95.21 83.76a323.11 323.11 0 0031.78 11.68c13.35 4.22 25.5 3.63 35.1 2.2 10.71-1.59 33-13.42 37.63-26.38s4.64-24.06 3.25-26.37-5.11-3.71-10.69-6.48z">
                                    </path>
                                </svg>
                                <p>94286 63751 (v)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex"><span class="w-fit">Name</span><input type="text"
                        class="border-b-2 border-green-700 outline-none w-full " /></div>
                <div class="flex"><span class="w-fit">Address</span><input type="text"
                        class="border-b-2 border-green-700 outline-none w-full " /></div>
                <div class="grid grid-cols-12 ">
                    <div
                        class="col-start-1 col-end-8 sm:col-end-10 border border-green-700 break-all h-36 overflow-y-scroll">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam culpa recusandae
                            praesentium. Ex minus quaerat impedit, laudantium commodi nesciunt veniam, dicta nam
                            necessitatibus facere sequi illum adipisci deleniti at autem omnis in quos earum id
                            architecto! Numquam perferendis, architecto eos nulla voluptatem et minima totam
                            perspiciatis eveniet ea nostrum error similique fugiat eaque eligendi, esse commodi incidunt
                            quae temporibus nihil alias laboriosam. Repellat pariatur doloribus non vitae, eum aperiam
                            iusto minus reprehenderit. Est nihil commodi, sed perferendis doloremque deleniti similique
                            voluptatem natus in? Excepturi corrupti ea in voluptate aspernatur? Ad tempore ut,
                            perferendis doloribus nesciunt fugiat quae cum ratione eos non a, magnam quia earum
                            exercitationem quas facere aspernatur. Sed accusamus alias veniam laborum nam, minus tempore
                            cupiditate nulla quaerat quibusdam dignissimos quos? Nobis dignissimos, ea, excepturi sequi
                            facilis explicabo quasi iure, quos nisi fugit eos totam et libero quaerat voluptas eius!
                            Doloremque facilis, ut saepe molestiae culpa praesentium, quo sint iste consectetur, ipsa
                            ratione veniam nobis tempora asperiores odio deserunt. Sequi, fuga recusandae quasi velit
                            dignissimos perferendis aut nihil at dolore, suscipit, tempora perspiciatis. Id, voluptates,
                            deleniti corrupti dolor similique reprehenderit voluptatibus ratione repudiandae deserunt
                            explicabo facere molestiae dolores odio at placeat delectus odit dolorum quia. Earum
                            deserunt, aperiam ducimus accusamus repudiandae quos quidem laboriosam alias, doloribus
                            officiis quae! Dolorem tempora quo saepe dignissimos perferendis delectus vero asperiores
                            quibusdam, magni adipisci ipsum unde optio odit eligendi, nostrum doloribus. Aliquam ut ea
                            corporis? Nisi veniam esse quos veritatis dolore! Saepe sint expedita dolores cupiditate
                            consequuntur quidem, magni aut, vero quae eius distinctio doloribus, autem facere blanditiis
                            sit! Ratione, culpa provident. Odio, cumque sapiente. Sed porro atque deserunt est aut,
                            delectus eius reiciendis earum exercitationem fugit accusantium voluptatum aliquid impedit
                            culpa, expedita non necessitatibus dicta optio dignissimos doloribus eum! Quo soluta omnis
                            aliquid officiis quod unde, nemo mollitia adipisci autem neque commodi ab tenetur nesciunt
                            aut veritatis vero sit similique sint praesentium recusandae cumque quidem eligendi ducimus
                            temporibus! Cum consequatur obcaecati fugit, distinctio minus necessitatibus est suscipit,
                            natus nostrum a adipisci magnam quo assumenda, eligendi excepturi vel. Magnam dolore
                            officia, vero laboriosam, ea fugiat tenetur debitis temporibus culpa repudiandae quibusdam,
                            nobis facilis ut iure repellat vel expedita suscipit ullam aspernatur pariatur aut!
                            Molestiae culpa et mollitia neque! At accusantium quod eius velit minima voluptates animi
                            nulla non explicabo illum ab hic soluta, assumenda repellendus dolorum, blanditiis nisi, ad
                            facilis. Quidem alias ipsam sequi hic, eligendi voluptates voluptate libero doloremque.
                            Voluptatem doloribus deleniti in cupiditate repellat veritatis sunt. Enim illum error
                            officiis obcaecati ipsum quia rerum minima veniam atque tempora maxime earum alias eum
                            aperiam sunt, illo aliquam fugiat a dolorem dolorum perspiciatis autem voluptatum accusamus
                            et. Repellat debitis fugiat dignissimos quod distinctio qui, amet excepturi incidunt
                            molestiae quidem corrupti possimus. Rerum voluptates, qui amet quis hic perferendis rem,
                            impedit fugiat eum voluptatum autem exercitationem consectetur officiis beatae, delectus
                            tempore eaque explicabo omnis ipsa laboriosam excepturi ipsum harum natus? Autem voluptatum
                            iste veniam optio! Omnis incidunt minus deserunt nobis, dolorum eos rem ab itaque. Alias
                            eveniet maiores iste, velit laudantium et consequatur!</p>
                    </div>
                    <div class=" col-start-8 sm:col-start-10 col-end-13 border border-green-700 h-36">
                        <div class="grid grid-cols-4">
                            <div class="col-span-2 pt-3 border border-green-700">Amount</div>
                            <div class="col-span-2 pt-3 border border-green-700">20</div>
                            <div class="col-span-2 border border-green-700">Amount</div>
                            <div class="col-span-2 border border-green-700">20</div>
                            <div class="col-span-2 border border-green-700">Amount</div>
                            <div class="col-span-2 border border-green-700">20</div>
                            <div class="col-span-2 border border-green-700">Amount</div>
                            <div class="col-span-2 border border-green-700">20</div>
                            <div class="col-span-2 border border-green-700">Amount</div>
                            <div class="col-span-2 border border-green-700">20</div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-12 items-center ">
                    <div class="col-start-1 col-end-10 border border-green-700 h-full w-full">
                        <p class="text-green-700">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium,
                            possimus.</p>
                        <p class="text-green-700">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="col-start-10 col-end-13 border border-green-700 h-full w-full ">
                        <p class="text-green-700 font-bold ">Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <p class="text-green-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio
                    placeat blanditiis similique totam modi numquam sequi eius ut ducimus necessitatibus eveniet sed
                    voluptates vel repellendus commodi veniam, suscipit repudiandae in impedit! Quod, minima?
                    Necessitatibus rerum cumque consequuntur vel facilis.</p>
            </div>
        </div>
    </div>
</body>

</html>